[Unit]
Description=KKInstagram Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/telegram_bot
EnvironmentFile=/var/www/telegram_bot/.env
ExecStart=/var/www/telegram_bot/.venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
