name: Deploy Telegram Bot
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USERNAME || 'root' }}
          port: ${{ secrets.SSH_PORT || 22 }}
          key: ${{ secrets.SSH_KEY }}
          debug: true
          script: |
            mkdir -p /var/www/telegram_bots
            cd /var/www/telegram_bots
            if [ ! -d .git ]; then
              git clone https://github.com/DevasMIN/telegram_bots.git .
            else
              git stash
              git pull origin main
              git stash pop || true
            fi
            echo "KKINSTAGRAM_BOT_TOKEN=${{ secrets.KKINSTAGRAM_BOT_TOKEN }}" > .env
            docker compose up -d --build
